.detail {
  width: 19rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 60%;
  transform: translateY(-60%);
  left: 10vw;
}

.item {
  height: 3.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
h3 {
  font-size: 17px;
  font-weight: 600;
  margin-top: 1rem;
}
p {
  font-size: 15px;
}

.title {
  font-size: 1rem;
  padding-right: 2.5rem;
}

.item.active .title {
  font-size: 1.5rem;
}

.sub-container {
  width: 15.7rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 32%;
  right: 6vw;
  cursor: pointer;
}

.active-title {
  cursor: default;
}

.item.active:nth-child(1) {
  background: linear-gradient(90deg, var(--transparent), var(--purple) 70%);
  border-radius: var(--radius-right);
}
.item.active:nth-child(2) {
  background: linear-gradient(90deg, var(--transparent), var(--blue) 70%);
  border-radius: var(--radius-right);
}
.item.active:nth-child(3) {
  background: linear-gradient(90deg, var(--transparent), var(--cyan) 70%);
  border-radius: var(--radius-right);
}

.sub-container-1.active-title h3,
.sub-container-2.active-title h3,
.sub-container-3.active-title h3 {
  border-radius: var(--radius-left);
}

.sub-container-1.active-subheading h3 {
  background: linear-gradient(90deg, var(--purple), var(--transparent) 100%);
}
.sub-container-2.active-subheading h3 {
  background: linear-gradient(90deg, var(--blue), var(--transparent) 100%);
}
.sub-container-3.active-subheading h3 {
  background: linear-gradient(90deg, var(--cyan), var(--transparent) 100%);
}

.item.active {
  position: relative;
  cursor: default;
}

.p-container {
  display: none;
}

.active-title .p-container {
  display: block;
  font-size: 1rem;
}

.icon-title-container {
  display: flex;
  gap: 1.4rem;
  margin-bottom: 0.25rem;
  cursor: default;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
  margin: -0.5rem 0.5rem;

}

.sub-container-1 h3,
.sub-container-2 h3,
.sub-container-3 h3 {
  position: relative;
  margin: 0.2rem 0;
  padding: 0.5rem 0 0.5rem 1rem;
}

@media (min-width: 700px) and (max-width: 1024px) {
  .detail{
    left: 26vw;
    padding-bottom: 5rem;
  }

  p{
    font-size: 18px;
  }
  h3{
    font-size: 20px;
  }
 
  .sub-container {
    top: 24%;
    right: 12vh;
    width: 33rem;
  }
  .item.active .title {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .sub-container {
    right: 1rem;
    width: 30rem;
    top: 24%;
    left: 61%;
    transform: translateX(-50%);
  }
  .item.active .title {
    font-size: 1rem;
  }
  .item {
    height: 2rem;
  }

  .title {
    font-size: 0.8rem;
    padding-right: 2.5rem;
  }
  .active-title.p-container {
    font-size: 0.8rem;
  }
  .icon-title-container,
  .icon {
    display: none;
  }
  h1 {
    font-size: 0.8rem;
  }
  h2,
  h3 {
    font-size: 15px;
    font-weight: 600;
  }
  p {
    font-size: 13px;
  }
  .detail {
    top: 71%;
    left: -19vw;
  }
}

/* .detail {
    width: 19rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60%;
    transform: translateY(-60%);
    left: 10vw;
  }
  
  .item {
    height: 3.7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  
  .title {
    font-size: 1rem;
    padding-right: 2.5rem;
  }
  
  .item.active .title {
    font-size: 1.5rem;
  }
  
  .sub-container {
    width: 18.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 32%;
    right: 10vw;
    cursor: pointer;
  }
  
  .active-title {
    cursor: default;
  }
  
  .item.active:nth-child(1),
  .item.active:nth-child(2),
  .item.active:nth-child(3) {
    background: linear-gradient(90deg, var(--transparent), var(--purple) 70%);
    border-radius: var(--radius-right);
  }
  
  .sub-container-1.active-title h3,
  .sub-container-2.active-title h3,
  .sub-container-3.active-title h3 {
    border-radius: var(--radius-left);
  }
  
  .sub-container-1.active-subheading h3 {
    background: linear-gradient(90deg, var(--purple), var(--transparent) 100%);
  }
  
  .sub-container-2.active-subheading h3 {
    background: linear-gradient(90deg, var(--blue), var(--transparent) 100%);
  }
  
  .sub-container-3.active-subheading h3 {
    background: linear-gradient(90deg, var(--cyan), var(--transparent) 100%);
  }
  
  .item.active {
    position: relative;
    cursor: default;
  }
  
  .p-container {
    display: none;
  }
  
  .active-title .p-container {
    display: block;
    font-size: 1rem;
  }
  
  .icon-title-container {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 0.5rem;
    cursor: default;
  }
  
  .icon {
    width: 3rem;
    height: 3rem;
  }
  
  .sub-container-1 h3,
  .sub-container-2 h3,
  .sub-container-3 h3 {
    position: relative;
    margin: 0.2rem 0;
    padding: 0.5rem 0 0.5rem 1rem;
  }
  
  @media (max-width: 700px) {
    .sub-container {
      right: 1rem;
    }
  
    .item.active .title {
      font-size: 1rem;
    }
  
    .item {
      height: 2rem;
    }
  }
   */
