#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 8rem 13rem;

}
.contact-item{
  width: 90%;
  display: flex;
  justify-content: space-between; 
 align-items: center; 
  
 }

.block-contact h2{
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.contact-item p{
  margin-bottom: 1.5rem;
  display: flex;
}
.contact-item a{
  margin-bottom: 1.5rem;
  display: flex;
}

.link a{
  margin-left: 20px;
width: 50px;
}
.icon{
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
}


.col{
  display: flex;
  flex-direction: colonne;
}
.row {
  display: flex;
  flex-direction: row;

}

@media screen and (max-width: 768px) {
  .block-contact {
    flex-direction: column;
    align-items: center;
  }

  #contact{
    margin: 12rem 5rem;
  }
}
@media screen and (max-width: 992px) {
  
  #contact{
    margin: 23rem 12rem;
  }
}