#background-video{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -5;

}

video{
    object-fit: cover;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 700px) {
    .background{
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  